.p1  {
    background-color: orange;
    border: 1px solid black;
}

.p2 {
    background-color: blue;
    color: white;
    border: 1px solid black;
}

.p3 {
    border: 1px solid black;
    font-size: large;
    font-family: sans-serif;
    font-weight:100;
}

.p4 {
    background-color: gray;
    border: 1px solid black;
}